.places {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.place {
  max-width: 984px;

  display: grid;
  grid-template-areas:
    "title artist"
    "img text"
    "link text"
    ". text";
  grid-gap: 48px 40px;
}

.place__title {
  font-size: 72px;
  max-width: 460px;
  grid-area: title;
  margin: 0;
}

.place__artist {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-area: artist;
  max-width: 456px;
}

.place__artist h3 {
  margin-top: 8px;
  font-size: 12px;
  line-height: 100%;
  color: #aaaaaa;
  letter-spacing: 2px;
}

.place__artist p {
  margin: 0;
  font-size: 18px;
}

.place__paragraphs {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  width: 484px;
  line-height: 163%;
}

.place__paragraphs p {
  margin: 0;
}

.place__img {
  grid-area: img;
  width: 100%;
  height: 460px;

  object-fit: cover;
  box-shadow: 10px 10px 25px #00000080;
}

.place__link {
  grid-area: link;
  width: 289px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px #00000040;
}

.place__link:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .places {
    margin-top: 88px;
    gap: 72px;
  }
  .place {
    width: 720px;
    grid-template-areas:
      "title artist"
      "img text"
      "link text"
      ". text";
    column-gap: 28px;
  }
  .place__title {
    font-size: 42px;
    width: 340px;
    font-weight: 900;
    line-height: 46px;
    align-self: end;
  }

  .place__paragraphs {
    max-width: 352px;
    font-size: 16px;
  }

  .place__artist {
    max-width: 352px;
  }

  .place__img {
    width: 340px;
    height: 340px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .places {
    margin-top: 62px;
  }
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__artist {
    max-width: 288px;
  }

  .place__img {
    height: 320px;
  }

  .place__paragraphs {
    max-width: 288px;
    font-size: 16px;
  }

  .place__link {
    max-width: 288px;
  }
}
